.fluid-span-1 {
  width: 15%;
}

.fluid-span-2 {
  width: 32%;
}

.fluid-span-3 {
  width: 49%;
}

.fluid-span-4 {
  width: 66%;
}

.fluid-span-5 {
  width: 83%;
}

.fluid-span-6 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 17%;
}

.fluid-offset-2 {
  margin-left: 34%;
}

.fluid-offset-3 {
  margin-left: 51%;
}

.fluid-offset-4 {
  margin-left: 68%;
}

.fluid-offset-5 {
  margin-left: 85%;
}

